.search {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.search__wrapper {
    display: flex;
    position: relative;
    flex: 1;
}

.search__wrapper img {
    position: absolute;
    top: 12px;
    left: 10px;
}

.search__input {
    background: #DEDEDE;
    border: none;
    border-radius: 5px;
    color: #252525;
    padding: 15px 30px 15px 50px;
    flex: 1;
    outline: none;
    
}

.search button {
    border: none;
    border-radius: 5px;
    background: #DEDEDE;
    cursor: pointer;
}